* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    /* Colors */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Grey-500: hsl(234, 12%, 34%);
    --Grey-400: hsl(212, 6%, 44%);
    --White: hsl(0, 0%, 100%);

    /* Fonts */
    --font-family: 'Poppins', sans-serif;

    --p-font-size: 15px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading-1 {
    font-weight: 200;
    font-size: 1.3rem;
    color: var(--Grey-400);
}

.heading-2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--Grey-500);
}

.para {
    /* width: 70%;/ */
    margin-top: 1rem;
    font-size: var(--p-font-size);
    text-align: center;
}

.features {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.card {
    width: 100%;
    max-width: 350px;
    border-top: 4px solid var(--Cyan);
    border-radius: 4px 4px 10px 10px;
    padding: 20px;
    background-color: var(--White);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card:nth-child(2) {
    border-top: 4px solid var(--Red);
}

.card:nth-child(3) {
    border-top: 4px solid var(--Orange);
}

.card:nth-child(4) {
    border-top: 4px solid var(--Blue);
}

.icon {
    padding-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.card header {
    color: var(--Grey-500);
    font-size: 1.2rem;
    font-weight: 600;
}

.card p {
    color: var(--Grey-400);
    font-size: var(--p-font-size);
}

.attribution {
    text-align: center;
}

@media (min-width: 1025px) {
    .features {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            'sup team calc'
            'sup karma calc';
    }

    #supervisor {
        align-self: center;
        grid-area: sup;
    }

    #team-builder {
        grid-area: team;
    }
    #karma {
        grid-area: karma;
    }
    #calculator {
        align-self: center;
        grid-area: calc;
    }
}
